################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/1ea1c87d-3d9f-4aac-8c4f-c67394e6dec9.vsidx
