################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/1ea1c87d-3d9f-4aac-8c4f-c67394e6dec9.vsidx
/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/913ce14e-8539-42a9-94a6-aaef1d90cac2.vsidx
/.vs/slnx.sqlite
/.vs/PolitiekeSituatieMonitorWARERA/v17/.wsuo
/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/5a084e13-8900-4d7a-93b4-dc32042e1446.vsidx
/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/6e44a094-848c-4879-9f2f-1ec8ada8afe9.vsidx
/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/a2a3e62e-b621-4c49-aaa6-4937c4618b30.vsidx
/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/f743d8ee-ca0b-4bd8-a535-8ae157f83d4b.vsidx
/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/76bb93f4-840a-4d2c-b55e-a78a64353cf9.vsidx
/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/9312211b-8491-4450-9a30-079bfcc8aebf.vsidx
/.vs/PolitiekeSituatieMonitorWARERA/FileContentIndex/db62d320-a011-4e9f-aaf5-bb5b3800b900.vsidx
